.form-control {
    border-radius: 100px;
}

.form-select {
    border-radius: 100px;
}

.card {
    border-radius: 25px;
}

.btn {
    border-radius: 100px;
}

.card-header {
    border-radius: 25px;
}

.navbar {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.img-preview {
    transition: transform 0.2s; /* Animation */
}

.img-preview:hover {
    transform: scale(
        1.05
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.btn {
    transition: transform 0.2s; /* Animation */
}

.btn:hover {
    transform: scale(
        1.1
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.page-item.active .page-link {
    background-color: #dc3545;
    border-color: #dc3545;
}

.dropdown-item:active {
    background-color: #dc3545;
    border-color: #dc3545;
}

#video-webcam {
    border: transparent;
    border-radius: 25px;
}

.mirror-video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.mirror-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
